geopandas==1.0.1
ipython==8.12.3
lightning==2.5.0.post0
matplotlib==3.10.1
meshkernel==3.0.0
netCDF4==1.7.2
netCDF4==1.7.2
networkx==3.4.2
numpy==2.2.4
opencv_python==4.11.0.86
pandas==2.2.3
perlin_noise==1.13
Pillow==11.2.1
psutil==7.0.0
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.2
Shapely==2.1.0
torch==2.6.0
torch_geometric==2.6.1
tqdm==4.67.1
xarray==2025.1.2
fiona
rasterio